html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  overflow: visible;
  background-color: #f3c23b;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  img {
    height: 120px;
  }
  h1 {
    font-size: 3rem;
    color: rgb(7, 7, 105);
  }
}

.hamburger {
  outline: none;
}

.menu {
  background-color: rgba(7, 7, 105, 0.746);
  position: fixed;
  width: 85vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translate(-100%, 0);
}

.menu.is-active {
  transform: translate(0, 0);
}

.menu ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  width: 100%;
  li {
    font-size: 60px;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    a {
      color: #f3c23b;
      text-decoration: none;
      width: 100%;
      transition: all 0.3s ease;
    }
  }
}

.menu ul li:hover {
  background-color: #f3c23b;
  a {
    color: rgb(7, 7, 105);
  }
}

.seccion {
  height: 100vh;
  padding: 2rem;
  h2 {
    margin-top: 6rem;
  }
}
