html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

header {
  z-index: 10000;
  background-color: #f3c23b;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}
header img {
  height: 120px;
}
header h1 {
  font-size: 3rem;
  color: #070769;
}

.hamburger {
  outline: none;
}

.menu {
  z-index: 10001;
  background-color: rgba(7, 7, 105, 0.746);
  position: fixed;
  width: 85vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  transform: translate(-100%, 0);
}

.menu.is-active {
  transform: translate(0, 0);
}

.menu ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 0;
  width: 100%;
}
.menu ul li {
  font-size: 60px;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}
.menu ul li a {
  color: #f3c23b;
  text-decoration: none;
  width: 100%;
  transition: all 0.3s ease;
}

.menu ul li:hover {
  background-color: #f3c23b;
}
.menu ul li:hover a {
  color: #070769;
}

.seccion {
  height: 100vh;
  padding: 2rem;
}
.seccion h2 {
  margin-top: 6rem;
  text-align: center;
  font-size: 40px;
}

.funcionesReloj {
  display: flex;
  justify-content: center;
}
.funcionesReloj button {
  margin-top: 2rem;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 1rem 2rem;
  color: white;
}

.funcionesReloj button:nth-child(even) {
  margin-right: 2rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #e64037;
}

.funcionesReloj button:nth-child(odd) {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #356ae6;
}

.funcionesReloj button:hover:nth-child(even) {
  box-shadow: 1px 4px 9px 0px black;
  cursor: pointer;
  transition: all 0.3s;
}

.funcionesReloj button:hover:nth-child(odd) {
  cursor: pointer;
  box-shadow: 1px 4px 9px 0px black;
  transition: all 0.3s;
}

.funcionesReloj button:disabled:nth-child(even) {
  box-shadow: none;
  cursor: default;
  background-color: #db6963;
  transition: all 0.3s;
}

.funcionesReloj button:disabled:nth-child(odd) {
  background-color: #6185db;
  cursor: default;
  box-shadow: none;
  transition: all 0.3s;
}

#reloj {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0;
  display: none;
}

.tablero {
  display: flex;
  width: 70%;
  height: 80%;
  margin: 2rem auto;
  background-color: #030338;
}
.tablero div {
  margin: auto;
  width: 80px;
  height: 80px;
  background-color: #f3c23b;
  border-radius: 50%;
  transform: translate(0, 0);
  transition: all 0.01ms ease;
}

.countdown {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.upBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem 1.2rem;
  font-size: 30px;
  background-color: #f3c23b;
  color: #070769;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.upBtn:hover {
  color: #f3c23b;
  background-color: #070769;
}

.darkBtn {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem 1.2rem;
  font-size: 30px;
  background-color: #f3c23b;
  color: #070769;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-out;
}

.darkBtn:hover {
  color: #f3c23b;
  background-color: #070769;
}

.darkMode {
  background-color: #070769;
  color: #f3c23b;
}

/*# sourceMappingURL=style.css.map */
